@media screen and (max-width: 767px) {
    nav {
        justify-content: center;
    }

    .navMenu a {
        display: none;
    }

    .logInBtn {
        display: none;
    }

    .navBar img {
        display: block !important;
        position: absolute;
        font-size: 2rem;
        right: 2rem;
    }







    main {
        margin-top: 8rem;
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        gap: 5rem;
    }

    .section1,
    .section2responsive {
        display: block !important;
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .section2 {
        display: none !important;
    }

    .section1 {
        gap: 0rem !important;
    }

    .section1 img {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 23rem !important;
        height: 25rem !important;
    }

    .section2responsive img {
        width: 23rem !important;
        height: 25rem !important;
    }

    .section1 h1 {
        text-align: center;
        font-size: 3rem !important;


    }

    .section1 p {
        text-align: center;
        font-size: 1.3rem !important;

    }



    .section2responsive {
        display: block !important;

    }

    .section2responsive p {
        font-size: 1.3rem !important;
        text-align: center;

    }


    .chef img {
        width: 20rem !important;
        height: 26rem !important;
        border-radius: 25px;
    }

    .chef {
        margin-top: 10rem;
        display: block !important;
        text-align: center;
    }





    footer {
        display: block !important;
    }


    footer .section1 img {
        width: 12rem !important;
        height: 4.5rem !important;
    }

}







@media screen and (min-width: 767px) and (max-width: 1024px) {

    .navMenu a {
        display: none;
    }

    .icon {
        margin-inline: 8rem;
    }

    .navBar img {
        display: block !important;
        position: absolute;
        font-size: 2rem;
        right: 14rem;
    }


    main {
        margin-top: 8rem;
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        gap: 5rem;
    }

    .section1,
    .section2responsive {
        display: block !important;
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .section2 {
        display: none !important;
    }

    .section1 {
        gap: 0rem !important;
    }

    .section1 h1 {
        text-align: center;
        font-size: 4rem !important;
    }

    .section1 img {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 30rem !important;
        height: 32rem !important;
    }

    .section2responsive img {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 30rem !important;
        height: 32rem !important;
    }


    .section1 p {
        font-size: 1.5rem !important;
        font-weight: 500 !important;
        text-align: center;

    }



    .section2responsive {
        display: block !important;

    }

    .section2responsive img {
        width: 30rem !important;
        height: 34rem !important;
    }


    .section2responsive p {
        padding-top: 2rem !important;
        font-size: 1.5rem !important;
        font-weight: 500 !important;
        text-align: center;

    }

    .chef {
        gap: 5rem !important;
    }




    footer {
        display:block !important;

    }


    footer .section1 img {
        width: 12rem !important;
        height: 5rem !important;
    }


}