@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    overflow-x: hidden;
    width: 100%;
}
:root {
    --darkGrey:#292e36;
    --midGrey:#343942;
    --grey:#40464f;
    --oliveGrey:#555555;
    --lightGrey:#858585;
    --orange:#e1b168;
    --white:#ffffff;
    --black:#000000;

}

.infant {
    font-family: "Cormorant Infant", serif !important;
}

.josefin {
    font-family: "Josefin Sans", sans-serif !important;
}