/* PHONE */
@media screen and (max-width: 767px) {

    .call,
    .money {
        display: none !important;
        gap: 3rem;
    }

    .navBtns :hover {
        color: orange;
    }

    .section a {
        display: none;
    }

    .orderBtn {
        width: 5rem !important;
    }

    .bars a {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .btns {
        flex-direction: column;
        gap: 1rem !important;
    }

    main {
        display: block !important;
    }

    .group {
        margin-inline: 1.2rem !important;
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .g1 {
        width: 22rem !important;
    }

    footer {
        display: block !important;
        padding-inline: 2rem !important;
    }


}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1024px) {

    .call,
    .money {
        display: flex;
        gap: 2rem !important;
    }

    .navBtns :hover {
        color: orange;
    }

    .socialMedia {
        display: none !important;
    }

    .money {
        display: none !important;
    }

    .section a {
        display: flex;
        font-size: 10px !important;
    }

    .order {
        width: 6rem !important;
    }

    .logoImg img {
        width: 4rem !important;
    }

    .btns {
        flex-direction: column;
        gap: 1rem !important;
    }

 .group{
    margin-inline: 0.3rem !important;
 }


    footer {
        display: block !important;
        padding-inline: 2rem !important;
    }


}